@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
<p style="color:red">@ViewBag.Message</p>
@*@<p style="color:darkslateblue">@ViewData["Message"]</p>*@

<form method="get" action="/home/Test">

    <input type="text" placeholder="Enter  username" name="uname" />
    <input type="Password" placeholder="Enter Password" name="upass" />
    <input type="submit" value="submit" />
</form>
